body{
    background-color: aqua;
}
div{
    background-color: black;
    color: white;
}
.one{
background-color: black;
padding: 30px;
font-size: 50px;
width: 60%;
margin-bottom: 5px;
}
.two{
background-color: sandybrown;
font-size: 50px;
width: 50%;
margin-bottom: 5px;
}
.three{
background-color: salmon;
font-size: 40px;
width: 40%;
margin-bottom: 5px;
}
.four{
background-color: brown;
font-size: 25px;
width: 30%;
margin-bottom: 5px;
}
li{
    display: inline;
    margin-left: 200px;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px 50px;
}
li:hover{
    background-color: black;
    color: white;
}